<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>545120927477-57lrc0kmtijrispc0lfp3q866imduvk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545120927477-57lrc0kmtijrispc0lfp3q866imduvk7</string>
	<key>API_KEY</key>
	<string>AIzaSyAw7Yq4Q-vXFIyN8NqEdhPreBXlW4bzr94</string>
	<key>GCM_SENDER_ID</key>
	<string>545120927477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hiregoat.can</string>
	<key>PROJECT_ID</key>
	<string>hiregoat-193601</string>
	<key>STORAGE_BUCKET</key>
	<string>hiregoat-193601.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545120927477:ios:eeec704f60a9077d</string>
	<key>DATABASE_URL</key>
	<string>https://hiregoat-193601.firebaseio.com</string>
</dict>
</plist>